{% load static %}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        {% if is_admin %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                <i class="bi bi-gear"></i>
                <span>Painel Admin</span>
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link {% if request.path != '/calculadora' %}collapsed{% endif %}" href="{% url 'calculadora' %}">
                <i class="bi bi-card-list"></i>
                <span>Simular Verdinho</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->