{% load static %}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link {% if request.path != '/' %}collapsed{% endif %}" href="{% url 'index' %}">
                <i class="bi bi-grid"></i>
                <span>Relatório Geral</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link {% if request.path != '/calculadora' %}collapsed{% endif %}" href="{% url 'calculadora' %}">
                <i class="bi bi-card-list"></i>
                <span>Calcular Verdinho</span>
            </a>
        </li><!-- End Register Page Nav -->

    </ul>

</aside><!-- End Sidebar-->